<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="ru.otus.javabootcamp.netty" level="INFO">
      <AppenderRef ref="stdout"/>
    </Logger>
  </Loggers>
</Configuration>